/*Galeria de Animaciones*/

@keyframes slideLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes opacityUp {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    display: 1;
  }
}

.slideLeft {
  animation-name: slideLeft, opacityUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

/*Galeria de Animaciones*/

/* Fuentes */

@font-face {
  font-family: Righteous;
  src: url(fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Mitr;
  src: url(fonts/Mitr-Light.ttf);
}

/* Fuentes */

/* Modo predeterminado (oscuro) */

.background-dark {
  background-color: #200444;
}

.background-light {
  background-color: #837c8b;
}

.light-color-text {
  color: antiquewhite;
}

/* Modo predeterminado (oscuro) */

/* Diseño HTML */

hr {
  background-color: white;
  height: 10px;
}

#nombre {
  color: brown;
}

#presentacion {
  background-image: url("assets/background.jpg");
  background-repeat: space;
  padding-top: 200px;
  padding-bottom: 350px;
  text-align: center;
}

#my-photo {
  border-radius: 50px;
  margin: auto;
  height: 400px;
}

#description {
  margin-top: 100px;
}

.ed-img {
  height: 200px;
}

#contact-logo {
  width: 100px;
  margin: 50px;
  transition: width 0.3s;
}
#contact-logo:hover {
  width: 150px;
}

.titles {
  font-family: "Righteous";
  padding-top: 100px;
  padding-bottom: 50px;
}

.sub-titles {
  padding: 20px;
}

.other-text {
  font-family: "Mitr";
}

.invisible {
  display: none;
}

/* Diseño HTML */
